<header class="site-header">
  <nav class="site-nav">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <ul class="nav-links">
      <li><a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ "/" | relative_url }}">Home</a></li>
      <li><a class="nav-link {% if page.url == '/blog/' %}active{% endif %}" href="{{ "/blog/" | relative_url }}">Blog</a></li>
      <li><a class="nav-link {% if page.url == '/tech-blog/' %}active{% endif %}" href="{{ "/tech-blog/" | relative_url }}">Tech</a></li>
      <li><a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="{{ "/about/" | relative_url }}">About</a></li>
    </ul>
  </nav>
</header>